<div class="container">
  <div id="login">
    <h1>Login in with Spotify to use search</h1>
    <a href="auth/login" class="btn btn-primary">Log in with Spotify</a>
  </div>
  <div id="loggedin">
    <div id="user-profile"></div>
    <div id="oauth"></div>
  </div>
</div>
