<header>
    <nav class= "header-nav">
        <a class= "header-title" href="/">My favs</a>
        <ul>
            <li><a href="/artists">Artists</a></li>
            <li><a href="/artists/new">Add Artists</a></li>
            <li><a href="/songs">Songs</a></li>
            <li><a href="/spotifysearch">Spotify</a></li>
            <li><a href="/songs/new">Add Song</a></li>
        </ul>
    </nav>
</header>