<% songCoverClass = locals.large ? 'song-cover-large' : '' %> 
<% songGridClass = locals.large ? 'song-grid-large' : '' %> 
<div class="song-grid <%= songGridClass %>">
<% songs.forEach(song => { %>
    <a href="/songs/<%= song.id %> ">
    <img class="song-cover <%= songCoverClass %>"  src="<%= song.albumCoverPath  %> ">
    </a>
 <% }) %>  
</div>