<h2 class="page-header">Search Songs</h2>
<form action="/songs" method="GET">
<div class="form-row">
   <div class="form-item">
      <label>Search song</label>
      <input type="text" name="title" value ="<%= searchOptions.title %>">
   </div>
   <div class="form-item">
      <label>Search album</label>
      <input type="text" name="albumTitle" value ="<%= searchOptions.albumTitle %>">
</div>
</div>
      <div class="form-row form-row-end">
      <button class="btn btn-primary" type="submit">Search</button>
</div>
</form>
<br>
<div>
<% songs.forEach(song => { %>
   <a href="/songs/<%= song.id %> ">
   <img height="100" width="100" src="<%= song.albumCoverPath  %> ">
   </a>
<% }) %>  
</div>