<h2 class="page-header">Edit Artist</h2>
<form action="/artists/<%= artist.id %>?_method=PUT" method="POST">
    <%- include('_form_fields') %> 
    <div class="form-row form-row-end btn-row">
    <a class="btn btn-danger" href="/artists/<%= artist.id %> ">Cancel</a>
    <button class="btn btn-primary" type="submit">Update</button>
</div>
</form>