<h2 class="page-header"><%= artist.name %> </h2>
<div class="btn-row">
    <a class="btn btn-primary" href="/artists/<%= artist.id  %>/edit ">Edit</a>
    <%- include('../partials/deleteForm', {url: `/artists/${artist.id}`})  %> 
</div>
<% if(songsbyArtist.length > 0){ %>
<h2 class="page-header">Songs By Artist</h2>
    <%- include('../partials/songGrid', { songs: songsbyArtist, large: true }) %> 
<% } %> 